<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>468024038053-n858k7pkggtdcbtap95ht0us34mdooqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468024038053-n858k7pkggtdcbtap95ht0us34mdooqo</string>
	<key>API_KEY</key>
	<string>AIzaSyAR4LKzkVR0yNh_U6JLe3dYUztTJh18aZw</string>
	<key>GCM_SENDER_ID</key>
	<string>468024038053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-b82ce</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-b82ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:468024038053:ios:57d81ebcff13fa9d</string>
	<key>DATABASE_URL</key>
	<string>https://socialmediaapp-b82ce.firebaseio.com</string>
</dict>
</plist>